---
title: About
published: true
position: 2
editable_elements: 
  Title: So want to know more about our creative team?
---
{% extends index %}  
{% block 'main' %}
.spacer
.team-text
  %h2 This is a bit about me...
  .star-divider
  %h5 You can check me out via my social links!
.spacer
.about
  %h5 I make some sweet designs.
  %p
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel
    Dapibus id, mattis vel, nisi. Sed pretium, ligula sollici tudin ot justo. Suspendisse potenti.Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin laoreet viverra, tortor liber
    sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis. Ut justo. Suspendisse potenti.Sed egestas, ante et vulputate volutpat
  .spacer
  %h5 And I offer design packages for you!
  %p
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel
    Dapibus id, mattis vel, nisi. Sed pretium, ligula sollici tudin ot justo. Suspendisse potenti.Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
  %a.single_image{:href => "images/about/large/pricing-table.jpg"}
    %img{:alt => "pricing", :height => "500", :src => "images/about/large/pricing-table.jpg", :width => "720"}/
.spacer
{% endblock %}