---
title: Features
published: true
position: 6
editable_elements:
  Title: I packed a bunch of cool features in to this template...
---
{% extends index %}
{% block 'main' %}
/ This is the START of the features
#features
  .spacer
  #recent-text
    %h2 The little plus sign in the top right corner...
    %img.star-divider{:src => "images/subscribe_divider.png"}/
    %h5 It can hold any HTML you want!
  .spacer
  #recent-text
    %h2 This is a sample fancybox gallery...
    %h5 You can add more galleries easily!
  .recent-gallery
    %a.single_image{:href => "images/gallery/large/img1.jpg"}
      %img{:alt => "portfolio1", :height => "96", :src => "images/gallery/thumbs/img1.jpg", :width => "160"}/
    %a.single_image{:href => "images/gallery/large/img2.jpg"}
      %img{:alt => "portfolio2", :height => "96", :src => "images/gallery/thumbs/img2.jpg", :width => "160"}/
    %a.single_image{:href => "images/gallery/large/img3.jpg"}
      %img{:alt => "portfolio3", :height => "96", :src => "images/gallery/thumbs/img3.jpg", :width => "160"}/
    %a.single_image{:href => "images/gallery/large/img4.jpg"}
      %img{:alt => "portfolio4", :height => "96", :src => "images/gallery/thumbs/img4.jpg", :width => "160"}/
    %a.single_image{:href => "images/gallery/large/img5.jpg"}
      %img{:alt => "portfolio5", :height => "96", :src => "images/gallery/thumbs/img5.jpg", :width => "160"}/
    %a.single_image{:href => "images/gallery/large/img6.jpg"}
      %img{:alt => "portfolio6", :height => "96", :src => "images/gallery/thumbs/img6.jpg", :width => "160"}/
    %a.single_image{:href => "images/gallery/large/img7.jpg"}
      %img{:alt => "portfolio7", :height => "96", :src => "images/gallery/thumbs/img7.jpg", :width => "160"}/
    %a.single_image{:href => "images/gallery/large/img8.jpg"}
      %img{:alt => "portfolio8", :height => "96", :src => "images/gallery/thumbs/img8.jpg", :width => "160"}/
  .spacer
  #recent-text
    %h2 When you scroll down, a button appears...
    %h5 That one takes you right back up!
  .spacer
  %blockquote So let's see how you can work with typography and features in this premium portfolio template...
  .one
    %h4 A couple paragraphs of text
    %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam blandit mi ac felis facilisis ac bibendum nibh consectetur. Curabitur porttitor mauris vel dui laoreet ut bibendum augue condimentum. Donec massa tortor, rutrum id vehicula in, porttitor et mauris. Curabitur justo velit, consectetur vel porttitor quis, placerat ut eros. Fusce ut mi a magna ultrices blandit id eu quam. Sed semper nunc sed magna condimentum mattis. Duis id elit vel sapien tristique dignissim. Proin mauris turpis, congue ac tincidunt non, feugiat a nisl. In lacinia nisi et orci convallis ornare. Sed a justo dui, quis tristique metus. Mauris quis nibh ligula, ut lacinia magna. Nulla in erat nec quam euismod faucibus. Integer gravida dolor et orci laoreet mattis. Fusce hendrerit faucibus metus ac lacinia. Aenean sed turpis magna. In vel tortor velit, vel mollis felis.
    \ 
    %p Vestibulum aliquam nisi nec metus pulvinar ut dignissim erat placerat. Praesent quis urna lorem. Cras nec facilisis nisi. Morbi sollicitudin convallis porta. Cras condimentum mattis massa sit amet vulputate. Morbi sed erat arcu. Sed sollicitudin, augue quis laoreet sagittis, eros augue lacinia nulla, id tristique ligula lectus ut mauris. Suspendisse egestas faucibus vestibulum. Morbi gravida augue mattis enim mattis eget dapibus ante fringilla. Mauris condimentum dui nec orci feugiat congue. Proin suscipit, enim non iaculis pretium, ligula elit pharetra tortor, et placerat nibh mauris ut tellus.
    \ 
    %p Proin vel interdum massa. Nunc pharetra vehicula erat, in faucibus orci porttitor ultricies. Pellentesque id fringilla justo. Suspendisse ut suscipit nisl. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut a velit id leo eleifend ullamcorper. Ut nulla odio, luctus sit amet volutpat ac, dapibus et ligula. Sed quis convallis sapien. Morbi sodales aliquet tortor, id lacinia nisl aliquet eu. Sed dapibus, magna et malesuada tempor, enim tortor hendrerit diam, vitae suscipit nibh felis vitae erat. Quisque adipiscing ante non augue blandit convallis. Aenean eu tellus sem. Praesent vehicula feugiat nunc, nec ornare felis tristique at. Integer non quam erat, in adipiscing ligula. Quisque lobortis sagittis sem vel condimentum. Cras viverra, tellus eget mollis malesuada, magna massa laoreet nisi, ac pulvinar mi quam sed dolor.
  .spacer
  .one-half
    %h4 Split it up
    %p Proin vel interdum massa. Nunc pharetra vehicula erat, in faucibus orci porttitor ultricies. Pellentesque id fringilla justo. Suspendisse ut suscipit nisl. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut a velit id leo eleifend ullamcorper. Ut nulla odio, luctus sit amet volutpat ac, dapibus et ligula. Sed quis convallis sapien. Morbi sodales aliquet tortor, id lacinia nisl aliquet eu. Sed dapibus, magna et malesuada tempor, enim tortor hendrerit diam, vitae suscipit nibh felis vitae erat. Quisque adipiscing ante non augue blandit convallis. Aenean eu tellus sem. Praesent vehicula feugiat nunc, nec ornare felis tristique at. Integer non quam erat, in adipiscing ligula. Quisque lobortis sagittis sem vel condimentum. Cras viverra, tellus eget mollis malesuada, magna massa laoreet nisi, ac pulvinar mi quam sed dolor.
  .one-half-last
    %h4 In half
    %p Proin vel interdum massa. Nunc pharetra vehicula erat, in faucibus orci porttitor ultricies. Pellentesque id fringilla justo. Suspendisse ut suscipit nisl. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut a velit id leo eleifend ullamcorper. Ut nulla odio, luctus sit amet volutpat ac, dapibus et ligula. Sed quis convallis sapien. Morbi sodales aliquet tortor, id lacinia nisl aliquet eu. Sed dapibus, magna et malesuada tempor, enim tortor hendrerit diam, vitae suscipit nibh felis vitae erat. Quisque adipiscing ante non augue blandit convallis. Aenean eu tellus sem. Praesent vehicula feugiat nunc, nec ornare felis tristique at. Integer non quam erat, in adipiscing ligula. Quisque lobortis sagittis sem vel condimentum. Cras viverra, tellus eget mollis malesuada, magna massa laoreet nisi, ac pulvinar mi quam sed dolor.
  .spacer
  .one-third
    %h4 Split it up
    %p Proin vel interdum massa. Nunc pharetra vehicula erat, in faucibus orci porttitor ultricies. Pellentesque id fringilla justo. Suspendisse ut suscipit nisl. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut a velit id leo eleifend ullamcorper. Ut nulla odio, luctus sit amet volutpat ac, dapibus et ligula. Sed quis convallis sapien. Morbi sodales aliquet tortor, id lacinia nisl aliquet eu. Sed dapibus, magna et malesuada tempor, enim tortor hendrerit diam, vitae suscipit nibh felis vitae erat. Quisque adipiscing ante non augue blandit convallis. Aenean eu tellus sem. Praesent vehicula feugiat nunc, nec ornare felis tristique at. Integer non quam erat, in adipiscing ligula. Quisque lobortis sagittis sem vel condimentum. Cras viverra, tellus eget mollis malesuada, magna massa laoreet nisi, ac pulvinar mi quam sed dolor.
  .one-third
    %h4 Into a couple of pieces
    %p Proin vel interdum massa. Nunc pharetra vehicula erat, in faucibus orci porttitor ultricies. Pellentesque id fringilla justo. Suspendisse ut suscipit nisl. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut a velit id leo eleifend ullamcorper. Ut nulla odio, luctus sit amet volutpat ac, dapibus et ligula. Sed quis convallis sapien. Morbi sodales aliquet tortor, id lacinia nisl aliquet eu. Sed dapibus, magna et malesuada tempor, enim tortor hendrerit diam, vitae suscipit nibh felis vitae erat. Quisque adipiscing ante non augue blandit convallis. Aenean eu tellus sem. Praesent vehicula feugiat nunc, nec ornare felis tristique at. Integer non quam erat, in adipiscing ligula. Quisque lobortis sagittis sem vel condimentum. Cras viverra, tellus eget mollis malesuada, magna massa laoreet nisi, ac pulvinar mi quam sed dolor.
  .one-third-last
    %h4 Well three wil do!
    %p Proin vel interdum massa. Nunc pharetra vehicula erat, in faucibus orci porttitor ultricies. Pellentesque id fringilla justo. Suspendisse ut suscipit nisl. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut a velit id leo eleifend ullamcorper. Ut nulla odio, luctus sit amet volutpat ac, dapibus et ligula. Sed quis convallis sapien. Morbi sodales aliquet tortor, id lacinia nisl aliquet eu. Sed dapibus, magna et malesuada tempor, enim tortor hendrerit diam, vitae suscipit nibh felis vitae erat. Quisque adipiscing ante non augue blandit convallis. Aenean eu tellus sem. Praesent vehicula feugiat nunc, nec ornare felis tristique at. Integer non quam erat, in adipiscing ligula. Quisque lobortis sagittis sem vel condimentum. Cras viverra, tellus eget mollis malesuada, magna massa laoreet nisi, ac pulvinar mi quam sed dolor.
  .spacer
  .one-fourth
    %h4 Split it up
    %p Proin vel interdum massa. Nunc pharetra vehicula erat, in faucibus orci porttitor ultricies. Pellentesque id fringilla justo. Suspendisse ut suscipit nisl. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut a velit id leo eleifend ullamcorper. Ut nulla odio, luctus sit amet volutpat ac, dapibus et ligula. Sed quis convallis sapien. Morbi sodales aliquet tortor, id lacinia nisl aliquet eu.
  .one-fourth
    %h4 Into a couple of pieces
    %p Proin vel interdum massa. Nunc pharetra vehicula erat, in faucibus orci porttitor ultricies. Pellentesque id fringilla justo. Suspendisse ut suscipit nisl. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut a velit id leo eleifend ullamcorper. Ut nulla odio, luctus sit amet volutpat ac, dapibus et ligula. Sed quis convallis sapien. Morbi sodales aliquet tortor, id lacinia nisl aliquet eu.
  .one-fourth
    %h4 And some more...
    %p Proin vel interdum massa. Nunc pharetra vehicula erat, in faucibus orci porttitor ultricies. Pellentesque id fringilla justo. Suspendisse ut suscipit nisl. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut a velit id leo eleifend ullamcorper. Ut nulla odio, luctus sit amet volutpat ac, dapibus et ligula. Sed quis convallis sapien. Morbi sodales aliquet tortor, id lacinia nisl aliquet eu.
  .one-fourth-last
    %h4 Well four wil do!
    %p Proin vel interdum massa. Nunc pharetra vehicula erat, in faucibus orci porttitor ultricies. Pellentesque id fringilla justo. Suspendisse ut suscipit nisl. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut a velit id leo eleifend ullamcorper. Ut nulla odio, luctus sit amet volutpat ac, dapibus et ligula. Sed quis convallis sapien. Morbi sodales aliquet tortor, id lacinia nisl aliquet eu.
  .spacer
  .one-third
    %h1 Heading
    %p Proin vel interdum massa. Nunc pharetra vehicula erat, in faucibus orci porttitor ultricies. Pellentesque id fringilla justo. Suspendisse ut suscipit nisl. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut a velit id leo eleifend ullamcorper. Ut nulla odio, luctus sit amet volutpat ac, dapibus et ligula. Sed quis convallis sapien. Morbi sodales aliquet tortor, id lacinia nisl aliquet eu. Sed dapibus, magna et malesuada tempor, enim tortor hendrerit diam, vitae suscipit nibh felis vitae erat.
  .one-third
    %h2 This is a heading
    %p Proin vel interdum massa. Nunc pharetra vehicula erat, in faucibus orci porttitor ultricies. Pellentesque id fringilla justo. Suspendisse ut suscipit nisl. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut a velit id leo eleifend ullamcorper. Ut nulla odio, luctus sit amet volutpat ac, dapibus et ligula. Sed quis convallis sapien. Morbi sodales aliquet tortor, id lacinia nisl aliquet eu. Sed dapibus, magna et malesuada tempor, enim tortor hendrerit diam, vitae suscipit nibh felis vitae erat.
  .one-third-last
    %h3 This is a heading
    %p Proin vel interdum massa. Nunc pharetra vehicula erat, in faucibus orci porttitor ultricies. Pellentesque id fringilla justo. Suspendisse ut suscipit nisl. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut a velit id leo eleifend ullamcorper. Ut nulla odio, luctus sit amet volutpat ac, dapibus et ligula. Sed quis convallis sapien. Morbi sodales aliquet tortor, id lacinia nisl aliquet eu. Sed dapibus, magna et malesuada tempor, enim tortor hendrerit diam, vitae suscipit nibh felis vitae erat.
  .spacer
  .one-third
    %h4 This is a heading
    %p Proin vel interdum massa. Nunc pharetra vehicula erat, in faucibus orci porttitor ultricies. Pellentesque id fringilla justo. Suspendisse ut suscipit nisl. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut a velit id leo eleifend ullamcorper. Ut nulla odio, luctus sit amet volutpat ac, dapibus et ligula. Sed quis convallis sapien. Morbi sodales aliquet tortor, id lacinia nisl aliquet eu. Sed dapibus, magna et malesuada tempor, enim tortor hendrerit diam, vitae suscipit nibh felis vitae erat.
  .one-third
    %h5 This is a heading
    %p Proin vel interdum massa. Nunc pharetra vehicula erat, in faucibus orci porttitor ultricies. Pellentesque id fringilla justo. Suspendisse ut suscipit nisl. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut a velit id leo eleifend ullamcorper. Ut nulla odio, luctus sit amet volutpat ac, dapibus et ligula. Sed quis convallis sapien. Morbi sodales aliquet tortor, id lacinia nisl aliquet eu. Sed dapibus, magna et malesuada tempor, enim tortor hendrerit diam, vitae suscipit nibh felis vitae erat.
  .one-third-last
    %h6 This is a heading
    %p Proin vel interdum massa. Nunc pharetra vehicula erat, in faucibus orci porttitor ultricies. Pellentesque id fringilla justo. Suspendisse ut suscipit nisl. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut a velit id leo eleifend ullamcorper. Ut nulla odio, luctus sit amet volutpat ac, dapibus et ligula. Sed quis convallis sapien. Morbi sodales aliquet tortor, id lacinia nisl aliquet eu. Sed dapibus, magna et malesuada tempor, enim tortor hendrerit diam, vitae suscipit nibh felis vitae erat.
  .spacer
  .one-third
    %p
      %span.dropcap> P
      roin vel interdum massa. Nunc pharetra vehicula erat, in faucibus orci porttitor ultricies. Pellentesque id fringilla justo. Suspendisse ut suscipit nisl. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut a velit id leo eleifend ullamcorper. Ut nulla odio, luctus sit amet volutpat ac, dapibus et ligula. Sed quis convallis sapien. Morbi sodales aliquet tortor, id lacinia nisl aliquet eu. Sed dapibus, magna et malesuada tempor, enim tortor hendrerit diam, vitae suscipit nibh felis vitae erat.
  .one-third
    %p
      %span.dropcap> Z
      roin vel interdum massa. Nunc pharetra vehicula erat, in faucibus orci porttitor ultricies. Pellentesque id fringilla justo. Suspendisse ut suscipit nisl. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut a velit id leo eleifend ullamcorper. Ut nulla odio, luctus sit amet volutpat ac, dapibus et ligula. Sed quis convallis sapien. Morbi sodales aliquet tortor, id lacinia nisl aliquet eu. Sed dapibus, magna et malesuada tempor, enim tortor hendrerit diam, vitae suscipit nibh felis vitae erat.
  .one-third-last
    %p
      %span.dropcap> V
      roin vel interdum massa. Nunc pharetra vehicula erat, in faucibus orci porttitor ultricies. Pellentesque id fringilla justo. Suspendisse ut suscipit nisl. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut a velit id leo eleifend ullamcorper. Ut nulla odio, luctus sit amet volutpat ac, dapibus et ligula. Sed quis convallis sapien. Morbi sodales aliquet tortor, id lacinia nisl aliquet eu. Sed dapibus, magna et malesuada tempor, enim tortor hendrerit diam, vitae suscipit nibh felis vitae erat.
  .spacer
  .one-third
    %h5 The checklist:
    %ul.styled-list-check
      %li This is the first item
      %li This is the second item
      %li This is the third item
      %li This is the fourth item
  .one-third
    %h5 The checklist:
    %ul.styled-list-star
      %li This is the first item
      %li This is the second item
      %li This is the third item
      %li This is the fourth item
  .one-third-last
    %h5 The checklist:
    %ul.styled-list-dot
      %li This is the first item
      %li This is the second item
      %li This is the third item
      %li This is the fourth item
{% endblock %}