---
title: Portfolio
published: true
position: 3
editable_elements:
  Title: This is our portfolio, our latest stuff is here!
---
{% extends index %}
{% block 'main' %}
/ This is the START of the portfolio section
.spacer
#filter
%img.star-divider{:src => "{{ 'subscribe_divider.png' | theme_image_url }}"}/
#container
  %ul#stage
    {% for project in contents.projects %}
    %li{"data-tags" => "{{ project.data_tags }}"}
      %a{:href => "/projects/{{ project._permalink }}"}
        %img{:alt => "Illustration", :src => "{{ project.photo1['url'] | resize: '200x120#' }}"}/
      %h6 {{ project.title }}
      %p
        {{ project.catcher }}
        %a.readmore{:href => "/projects/{{ project._permalink }}"} view →
    {% endfor %}

{% endblock %}